<div class="intro" data-transition="fade-in slide-out" data-prevent-swipe="">
    <div class="flex column stretch">
        <!-- ARROWS ON DESKTOP -->
        <!-- portfolio -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 382.7 53.9" style="enable-background:new 0 0 382.7 53.9;" xml:space="preserve" class="hide-on-mobile">
                <g>
                    <path class="arrow_blue" d="M231.4,34c40.5-15.3,107.5-23.3,137.5-19.8"/>
                    <path class="arrow_blue" d="M349.4,3.9c8.3,5.3,22.3,10.6,22.3,10.6c-18.3,4.8-22.3,12.2-22.3,12.2"/>
                </g>
                <text transform="matrix(1 0 0 1 10.4091 50.9568)" class="DSKportfolio">GDM PORTFOLIO</text>
            </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 382.7 53.9" style="enable-background:new 0 0 382.7 53.9;" xml:space="preserve" class="DSKfullscreen hide-on-mobile">
            <text transform="matrix(1 0 0 1 64.7841 39.3593)" class="DSKfullscreen">FULL SCREEN</text>
                <path class="arrow_pink" d="M259.7,28.1c52.8-17,117.8-18.5,117.8-18.5"/>
                <path class="arrow_pink" d="M358.4,4.3c5.5,2.6,21.2,5.3,21.2,5.3c-22.6,5.5-27.9,13.8-27.9,13.8"/>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 382.7 53.9" style="enable-background:new 0 0 382.7 53.9;" xml:space="preserve" class="DSKshare hide-on-mobile">
            <text transform="matrix(1 0 0 1 19.312 42.0755)" class="DSKshare">SOCIAL SHARING</text>
            <g>
            	<g>
            		<path class="arrow_white" d="M248.3,28.3C288.8,13,340.7,10,370.7,13.5"/>
            	</g>
            </g>
            <path class="arrow_white" d="M361.8,4.1c5.9,5,14.1,8.8,14.1,8.8c-19.6,4.2-28.4,10.2-28.4,10.2"/>
        </svg>
        <svg version="1.1" class="DSKnavigation hide-on-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 382.7 53.9" style="enable-background:new 0 0 382.7 53.9;" xml:space="preserve">
            <text transform="matrix(1 0 0 1 83.87 42.3777)" class="DSKnavigate">NAVIGATIE</text>
            <g>
	            <g>
	            	<path class="arrow_green" d="M242.6,28.6c40.5-15.3,103.5-17.1,133.2-12.3"/>
	            </g>
            </g>
                    <path class="arrow_green" d="M361.7,23.8c5.6-4,18.1-7.1,18.1-7.1C367.2,11,361,4.3,361,4.3"/>
        </svg>

        <!-- ARROWS ON MOBILE -->
        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	            viewBox="0 0 235 45" style="enable-background:new 0 0 235 45;" xml:space="preserve" class="hide-on-desktop">
                <g>
                	<text transform="matrix(1 0 0 1 95.901 31.1838)" class="MBnavigate">MENU</text>
                </g>
                <g>
	                <g>
		                <g>
		                	<path class="arrow_orange" d="M194.3,15.1c8.1-3.1,22.4-3.9,33.5,0"/>
		                </g>
		                    <polyline class="arrow_orange" points="211,20.2 232,16.8 223,4.7 		"/>
	                </g>
                </g>
        </svg>
        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 235 45" style="enable-background:new 0 0 235 45;" xml:space="preserve"  class="hide-on-desktop">
            <text transform="matrix(1 0 0 1 14.9995 30.7415)" class="MBportfolio">Portfolio</text>
            <g>
                <g>
                    <g>
                        <path class="arrow_blue" d="M194.3,14.7c8.1-3.1,22.4-3.9,33.5,0"/>
                    </g>
                    <polyline class="arrow_blue" points="211,19.8 232,16.4 223,4.3"/>
                </g>
            </g>
        </svg>
        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 170 94" style="enable-background:new 0 0 170 94;" xml:space="preserve" class="hide-on-desktop">
            <g>
                <text transform="matrix(1 0 0 1 19.8806 41.8832)" class="st1">
                    <tspan x="0" y="0" class="MBfullscreen">Full </tspan>
                    <tspan x="-15.5" y="44.3" class="MBfullscreen">screen</tspan>
                </text>
            </g>
            <g>
                <g>
                    <g>
                        <path class="arrow_pink" d="M128.3,43.2c8.1-3.1,22.4-3.9,33.5,0"/>
                    </g>
                    <polyline class="arrow_pink" points="145,48.3 166,44.9 157,32.8 		"/>
                </g>
            </g>
        </svg>
        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        viewBox="0 0 235 45" style="enable-background:new 0 0 235 45;" xml:space="preserve" class="hide-on-desktop">
            <g>
                <text transform="matrix(1 0 0 1 74.1924 31.1829)" class="MBshare">Share</text>
            </g>
            <g>
                <g>
                    <g>
			            <path class="arrow_white" d="M194.3,15.4c8.1-3.1,22.4-3.9,33.5,0"/>
		            </g>
                    <polyline class="arrow_white" points="211,20.5 232,17.1 223,5 		"/>
                </g>
            </g>
        </svg>
        <!-- BUTTONS PREV MOBILE -->
        <img src="../../assets/stories/intro/buttons/navigatie.svg" class="hide-on-desktop">
        <img src="../../assets/stories/intro/buttons/portfolio.svg" class="hide-on-desktop">
        <img src="../../assets/stories/intro/buttons/share.svg" class="hide-on-desktop">
        <img src="../../assets/stories/intro/buttons/fullscreen.svg" class="hide-on-desktop">

    </div>
    {% for intro in page.intro %}
        <div class="info flex center column hide-on-mobile">
            <h1 class="ahs__title bold green">{{intro.title}}</h1>
            {% for paragraph in intro.desktop.paragraph %}
                <p class="ahs__paragraph">{{paragraph.line}} </p>
            {% endfor %} 
            <img src="../../assets/stories/intro/keyboard.svg" class="hide-on-mobile keyboard">
            <div class="button">Ok, Begrepen</div>
        </div>
        <div class="info flex center column hide-on-desktop">
            <h1 class="ahs__title bold green">{{intro.title}}</h1>
            {% for paragraph in intro.mobile.paragraph %}
                <p class="ahs__paragraph">{{paragraph.line}}</p>
            {% endfor %}
            <div class="button">Ok</div>
        </div>
    {% endfor %}
</div>