<div class="menu flex end justified-c centered column hide" data-prevent-swipe>
    <div class="tools">
        <button class="menu-toggle open flex column">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <a class="overview-toggle flex justified-c centered wrap active visible"
           href="https://artevelde-trots.github.io/stories">
            <div class="cube-row flex">
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
            </div>
            <div class="cube-row flex">
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
            </div>
            <div class="cube-row flex">
                <div class="cube"></div>
                <div class="cube"></div>
                <div class="cube"></div>
            </div>
        </a>
        <img class="fullscreen" src="../../assets/stories/intro/buttons/fullscreen.svg">

        <div class="share-container">
            <span class="share-toggle ahs__title xsm">
                <i class="fa fa-share-alt"></i>
            </span>
            <div class="share-list flex row inactive justified-c centered">
                <a onclick="scroll_element_thumb_click(event); return false;" href='https://www.facebook.com/sharer/sharer.php?u={{site.url | replace: "http://", "" | replace: "https://", "" }}{{page.url}}' class="share-link facebook">
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a onclick="scroll_element_thumb_click(event); return false;" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{ site.title }}%20%7C%20{{ page.title }}" class="share-link linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a onclick="scroll_element_thumb_click(event); return false;" href='https://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}&media={{site.url}}{{thumb}}' class="share-link pintrest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
                <a onclick="scroll_element_thumb_click(event); return false;" href='https://twitter.com/home?status=Check%20out%20{{site.url | replace: "http://", "" | replace: "https://", "" }}{{page.url}}' class="share-link twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="overflow">
        <div class="menu-items">
            {% assign sections = page.sections %}
            {% for section in sections %}
                <div class="nav-item">
                    <a href="#">
                        <img src="../../assets/stories/{{page.slug}}/thumb/{{section.thumb}}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>