
<!-- VENDOR SCRIPTS -->
<script src="{{ '/js/vendor/reveal.js' | site.baseurl }}"></script>
<script src="{{ '/js/vendor/reveal.min.js | site.baseurl }}"></script>
<script src="{{ '/js/vendor/head.min.js | site.baseurl }}"></script>
<!-- REVEAL SETTINGS -->
<script>
 // More info https://github.com/hakimel/reveal.js#configuration
 Reveal.initialize({
  keyboard: true,
  history: true,
  controls: false,
  progress: false,
  mouseWheel: true,
  toggleOverview: false
 });
</script>
<!-- MY SCRIPTS -->
<script src="{{ '/js/story.js' | site.baseurl }}"></script>