// -----------------------------------------------------------------------------
// This file contains styles that are specific to the detail page.
// -----------------------------------------------------------------------------
@media screen and (min-width: 200px) {
  .detail- {
    &page-container {
      max-width: 100%;
      padding: 10px;
      .share-container {
        display: block;
        margin: 10px 0 0;
        padding: 20px 28px;
        background-color: $light-grey;
      }
    }
    &item-container{
      .detail-item-text{
        padding: 100px 20px 80px;
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        color:$mid-grey;
      }

      img {
        max-width: 100%;
        width: 100%;
        display: block;
      }
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        iframe,
        object,
        embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: $lg) {
  .detail-{
    &page-container {
      padding: 10px 0 0;
      margin-left: 400px;
      @include transition(all 250ms ease-in-out);

      .share-container {
        display: none;
      }
    }
    &item-container{
      padding:0 40px 20px;
      &:first-child {
        padding-top: 20px;
      }
      .detail-item-text{
          padding: 100px 0px 80px;
          max-width: 980px;
          margin: 0 auto;
          font-weight: bold;
          line-height: 1.7em;
          font-size: 16px;
          color:$mid-grey;
      }
      img {
        max-width: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  .grow {
    max-width: 100%;
    margin-left: 25px;
  }
}
