---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize',
  'vendor/simplebar';

// 3. Base stuff
@import
  'base/core',
  'base/fonts',
  'base/typography',
  'base/animations',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/background';

// 5. Components
@import
  'components/grid',
  'components/split',
  'components/intro',
  'components/news',
  'components/button',
  'components/lineelements',
  'components/sidebar';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/detail',
  'pages/contact',
  'pages/stories',
  'pages/externeprojecten';

// 7. Themes
@import
  'themes/default';

// 8. Hacks and such things only hussies would do
@import
  'shame';
