<div class="container flex">
    <div class="split-page">
        <div class="contact-container flex column justified-c">
            {% if page.url != "/contact/" %}
            <h1 class="ahs__title bold lg padded-top padded-bottom">Contacteer ons</h1>
            {% endif %}
            <div class="contact-row column flex">
                <div class="flex-child contact-section">
                    <div class="contact-details flex">
                        <div class="split flex-child stretch">
                            <h3 class="ahs__title sm bold"> Arteveldehogeschool Campus Mariakerke</h3>
                            <span>Industrieweg </span><span>232</span><br>
                            <span>9030 </span><span>Gent-Mariakerke</span><br>
                            <a href="tel:+3292348600">09 / 234 86 00</a>
                        </div>
                    </div>
                </div>
                <div class="flex-child stretch contact-section">
                    <div class="contact-header">
                        <h2 class="contact-title ahs__title sm normal blue">
                            Mail ons<br>
                            <a href="mailto:info.gdm@arteveldehs.be">info.gdm&#64;arteveldehs.be</a>
                        </h2>
                    </div>
                    <div class="contact-form">
                        <form id="contact-form" action="#" method="post">
                                <input id="contact-name" name="name" type="email" placeholder="Naam" class="ahs__title xsm light form-item">
                                <input id="contact-mail" name="email" type="email" placeholder="E-mail" class="ahs__title xsm light form-item">
                                <input id="contact-subject" name="subject" type="text" placeholder="Onderwerp" class="ahs__title xsm light form-item">
                                <textarea id="contact-message" name="message" placeholder="Boodschap" class="ahs__title xsm light form-item form-textarea"></textarea>
                            <div class="row">
                                <input type="text" id="contact-gotcha" name="_gotcha" style="display:none" />
                                <button class="btn form-btn round blue" type="submit" value="submit"><i class="fa fa-send"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="split-page">
        <div class="map-container">
            <div class="zoomControls">
                <div id="zoomin" class="zoomControl"><div class="line animate-250"></div><div class="line animate-250"></div></div>
                <div id="zoomout" class="zoomControl"><div class="line animate-250"></div></div>
            </div>
            <div class="map" id="gmap">

            </div>
            <div class="map-colours animate">
                <div class="map-colour green"></div>
                <div class="map-colour pink"></div>
                <div class="map-colour blue"></div>
                <div class="map-colour orange"></div>
            </div>
        </div>
    </div>
</div>