<div class="grid-container extern">
    <div class="grid row">
        <div class="grid-sizer"></div>
        <div class="grid-item grid-w-1 grid-h-1 c-2">
            <div class="content">
                <img data-src="{{ 'assets/img/projects/externe/beeld1_externe_600x400.png' | relative_url }}" class="image" alt="Developers aan het werk.">
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-3">
            <div class="content">
                <img data-src="{{ 'assets/img/projects/externe/beeld2_externe_600x400.png' | relative_url }}" class="image" alt="Een greep uit een extern project voor een ziekenhuis.">
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-2 c-1 grid-m-f loaded">
            <div class="content text-block">
                <h2 class="ahs__title flex column medium smd">Timing en traject</h2>
                <p class="ahs__paragraph white">Naar aanloop van het komende academiejaar nodigen we uw organisatie uit voor een <strong>verkennend gesprek.</strong> Dit gaat door eind juni, begin juli en midden augustus op onze mediacampus in <strong>Mariakerke</strong> (Gent). Daarna maken we een samenwerkingsvoorstel op.</p>
                <p class="ahs__paragraph white">Komen we tot een <strong>overeenkomst?</strong> Prima! Uw project komt op een shortlist waaruit studenten de projecten kunnen aanduiden waarop ze het liefst zouden werken.</p>
                <p class="ahs__paragraph white">Tussen <strong>oktober</strong> en <strong>maart</strong> werken de studenten uw project uit. Tussentijds spreken jullie verschillende keren af voor een stand van zaken en bijsturing waar nodig. Een leerrijke ervaring voor u en voor onze studenten! De definitieve oplevering van uw project volgt <strong>eind maart.</strong> Klinkt goed hé.</p>
                <a class="btn outline rounded compact" href="https://docs.google.com/forms/d/e/1FAIpQLSeKMK5j44wTcv5paEcXDQx-FtFwEcEIjorfHfwXYgDciuhK_A/viewform?c=0&w=1">Meldt u aan voor een verkennend gesprek</a>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-2 c-4">
            <div class="content">
                <img data-src="{{ 'assets/img/projects/externe/beeld3_externe_1200x800.png' | relative_url }}" class="image" alt="Een identiteit project met alle eindproducten.">
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-1">
            <div class="content">
                <img data-src="{{ 'assets/img/projects/externe/beeld4_externe_600x400.png' | relative_url }}" class="image" alt="Een project in wording.">
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-2">
            <div class="content">
                <img data-src="{{ 'assets/img/projects/externe/beeld5_externe_600x400.pn' | relative_url }}g" class="image" alt="Feedback sessie met lectoren.">
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-3">
            <div class="content">
                <img data-src="{{ 'assets/img/projects/externe/beeld6_externe_600x400.png' | relative_url }}" class="image" alt="Een briefing met de klant.">
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-4">
            <div class="content">
                <img data-src="{{ 'assets/img/projects/externe/beeld7_externe_600x400.png' | relative_url }}" class="image" alt="Eindresultaten web project.">
            </div>
        </div>
    </div>
</div>