<div class="grid-container extern">
    <div class="grid row">
        <div class="grid-sizer"></div>
        <div class="grid-item grid-w-1 grid-h-1 c-2">
            <div class="content">
                <img data-src="/assets/img/projects/externe/beeld1_externe_600x400.png" class="image" alt="Developers aan het werk."/>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-3">
            <div class="content">
                <img data-src="/assets/img/projects/externe/beeld2_externe_600x400.png" class="image" alt="Een greep uit een extern project voor een ziekenhuis."/>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-2 c-1 grid-m-f loaded">
            <div class="content text-block">
                <h2 class="ahs__title flex column medium smd">Hoe gaan <br>we te werk</h2>
                <p class="ahs__paragraph white ">Voor de start van het academiejaar worden er afspraken gemaakt met klanten.
                <br><br> Eind september kiezen de studenten een project. 
                <br><br> Begin oktober krijgen onze studenten een project toegewezen. De studenten worden ook rechtstreeks gebrieft door de klant.
                <br><br> In maart worden alle projecten opgeleverd en gepresenteerd aan een jury en desbetreffende klant.
                </p>
            </div>
        </div>
        <div class="grid-item grid-w-2 grid-h-2 c-4">
            <div class="content">
                <img data-src="/assets/img/projects/externe/beeld3_externe_1200x800.png" class="image" alt="Een identiteit project met alle eindproducten."/>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-1">
            <div class="content">
                <img data-src="/assets/img/projects/externe/beeld4_externe_600x400.png" class="image" alt="Een project in wording."/>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-2">
            <div class="content">
                <img data-src="/assets/img/projects/externe/beeld5_externe_600x400.png" class="image" alt="Feedback sessie met lectors."/>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-3">
            <div class="content">
                <img data-src="/assets/img/projects/externe/beeld6_externe_600x400.png" class="image" alt="Een briefing met de klant."/>
            </div>
        </div>
        <div class="grid-item grid-w-1 grid-h-1 c-4">
            <div class="content">
                <img data-src="/assets/img/projects/externe/beeld7_externe_600x400.png" class="image" alt="Eindresultaten web project."/>
            </div>
        </div>
    </div>
</div>