<div class="footer flex centered">
    <div class="flex centered">
        <div class="ahs__footer-contact flex-child flex centered">
            <p>
                <a href="https://www.arteveldehs.be">© 20{{ site.time | date: '%y' }} - Arteveldehogeschool</a>
                <a href="https://www.arteveldehogeschool.be/disclaimer">Disclaimer</a>
            </p>
        </div>
        <div class="ahs__footer-address flex-child flex centered">
            <p>
                Industrieweg 232<br>
                9030 Gent-Mariakerke
            </p>
        </div>
        <div class="ahs__footer-contact flex-child flex centered">
            <p>
                <a href="tel:+3292348600">+32 (0)9 / 234 86 00</a>
                <a href="mailto:info.gdm@arteveldehs.be">info.gdm&#64;arteveldehs.be</a>
            </p>
        </div>
        <div class="ahs__logo flex centered">
            <a href="https://www.arteveldehs.be">
                <img src="/assets/img/logo/logo-footer.svg" alt="Logo Arteveldehogeschool Gent" />
            </a>
        </div>
    </div>
</div>