{% capture page_title %}{{ site.title }}{% endcapture %}
{% capture page_subdomain %}{{ site.subdomain }}{% endcapture %}
{% capture page_domain %}{{ site.domain }}{% endcapture %}
{% capture page_description %}{{ site.description }}{% endcapture %}
{% capture page_keywords %}{{ site.keywords }}{% endcapture %}
{% capture page_author %}{{ site.author }}{% endcapture %}
{% capture page_copyright %}{{ site.copyright }}{% endcapture %}
{% if page.title %}
    {% capture page_title %}{{ page.title | strip_html }}{% endcapture %}
{% endif %}
{% if site.subdomain %}
    {% capture page_subdomain %}{{ site.subdomain | strip_html }}{% endcapture %}
{% endif %}
{% if site.domain %}
    {% capture page_domain %}{{ site.domain | strip_html }}{% endcapture %}
{% endif %}
{% if page.description %}
    {% capture page_description %}{{ page.description | strip_html }}{% endcapture %}
{% endif %}
{% if page.keyword %}
    {% capture page_keyword %}{{ page.keyword | strip_html }}{% endcapture %}
{% endif %}
{% if site.author %} {% capture page_author %}{{ site.author | strip_html }}{% endcapture %}
{% endif %}
{% if site.copyright %}
    {% capture page_copyright %}{{ site.copyright | strip_html }}{% endcapture %}
{% endif %}
<head>
   <!-- Character encoding -->
    <meta charset="UTF-8">
    <!-- Latest version of rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <!-- Most important SEO tag -->
    <title>{{ page_title }} | {{ page_subdomain }} | {{ page_domain }}</title>
    <!-- Other SEO friendly tags -->
    <meta name="description" content="{{ page_description }}">
    <meta name="keywords" content="{{ page_keywords }}">
    <meta name="author" content="{{ page_author }}">
    <meta name="copyright" content="{{ page_copyright }}">
    <meta name="HandheldFriendly" content="true">
    <!-- OpenGraph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content=">{{ page_title }} | {{ page_subdomain }} | {{ page_domain }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if thumb %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ thumb }}">
    {% else %}
    <meta property="og:image" content="{{ '/assets/img/ahs.png' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image:width" content="129">
    <meta property="og:image:height" content="129">
    {% endif %}
    <!-- humans.txt -->
    <link rel="author" type="text/plain" href="{{ '/humans.txt' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Icons -->
    {% capture assetsIconsFolder %}{{ '/assets/img/favicons/' | prepend: site.baseurl }}{% endcapture %}
    <!-- http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ assetsIconsFolder }}apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ assetsIconsFolder }}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ assetsIconsFolder }}favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ assetsIconsFolder }}manifest.json">
    <link rel="mask-icon" href="{{ assetsIconsFolder }}safari-pinned-tab.svg" color="#ed9a21">
    <link rel="shortcut icon" href="{{ assetsIconsFolder }}favicon.ico">
    <meta name="apple-mobile-web-app-title" content="GDM">
    <meta name="application-name" content="GDM">
    <meta name="msapplication-config" content="{{ assetsIconsFolder }}browserconfig.xml">
    <meta name="theme-color" content="#cc0077">
    <!-- DNS prefech for CDN -->
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//code.jquery.com">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <!-- Styles -->
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
</head>