<div class="intro-page flex column centered justified-c">
    <div class="continue-section flex column centered justified-c">
        <div class="btn round outline wiggle intro-continue-button down-arrow">
            <div class="bottom-button">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="video-container">
        <video preload="true" loop muted autoplay poster="/assets/video/landingpage.png" class="fullscreen-bg__video">
            <source src="/assets/video/landingpage.webm" type="video/webm">
            <source src="/assets/video/landingpage.mp4" type="video/mp4">
            <source src="/assets/video/landingpage.ogv" type="video/ogg">
        </video>
    </div>
</div>