<div class="intro-page flex column centered justified-c">
    <a class="continue-section flex column centered justified-c">
        <div class="btn round outline wiggle intro-continue-button down-arrow">
            <div class="bottom-button">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </a>
    <div class="video-container">
        <video preload="true" loop muted autoplay poster="{{ 'assets/video/landingpage.png' | relative_url }}" class="fullscreen-bg__video">
            <source src="{{ 'assets/video/landingpage.webm' | relative_url }}" type="video/webm">
            <source src="{{ 'assets/video/landingpage.mp4' | relative_url }}" type="video/mp4">
            <source src="{{ 'assets/video/landingpage.ogv' | relative_url }}" type="video/ogg">
        </video>
    </div>
</div>