<div class="share-container">
    <h3 class="share-cta ahs__title xsm">Share the awesomeness</h3>
    <span class="share-toggle ahs__title xsm">
        <i class="fa fa-share-alt"></i>
    </span>
    <div class="share-list flex row justified-c centered">
        <a onclick="scroll_element_thumb_click(event); return false;" href='https://www.facebook.com/sharer/sharer.php?u={{site.url | replace: "http://", "" | replace: "https://", "" }}{{page.url}}' class="share-link facebook">
            <i class="fa fa-facebook-f"></i>
        </a>
        <a onclick="scroll_element_thumb_click(event); return false;" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{ site.title }}%20%7C%20{{ page.title }}" class="share-link linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
        <a onclick="scroll_element_thumb_click(event); return false;" href='https://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}&media={{site.url}}{{thumb}}' class="share-link pintrest">
            <i class="fa fa-pinterest-p"></i>
        </a>
        <a onclick="scroll_element_thumb_click(event); return false;" href='https://twitter.com/home?status=Check%20out%20{{site.url | replace: "http://", "" | replace: "https://", "" }}{{page.url}}' class="share-link twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
</div>