---
layout     : default
permalink  : externeprojecten/
#
title      : Externe projecten
description: "Externe projecten zijn werken die we maken voor bedrijven. Als een echte ontwerpstudio kunnen de bedrijven ons contacteren met hun wensen. Wij vullen deze in zodat u bedrijf een zo uniek mogelijk profiel bekomt. Communicatie over alle mogelijke media is onze specialiteit en het is voor ons een must om u visie waar te maken."
---
{% include components/bg.html %}
<div class="externe container flex column maxed padded-top-xl">
    <h1 class="ahs__title padded-top-xxl padded-bottom-xl blue xl bold show-edge">
        Externe Projecten 
        <span class="ahs__title flex column bold lg">Echte projecten voor echte klanten</span>
    </h1>
    <div class="svg-container ahs__title bold xl padded-top-xxl padded-bottom-xl hide-edge">
        <div class="svg-box">
            <svg viewBox="0 0 900 100">
                <symbol id="d-text">
                    <text text-anchor="left" x="0" y="81%" class="text--line">Externe Projecten</text>
                </symbol>
                <g class="g-ants">
                    <use xlink:href="#d-text"
                         class="text-copy"></use>
                </g>
            </svg>
        </div>
        <div class="svg-box">
            <svg viewBox="0 0 1750 110">
                <symbol id="m-text">
                    <text text-anchor="left" x="0" y="55%" class="text--line">Voor echte klanten</text>
                </symbol>
                <g class="g-ants">
                    <use xlink:href="#m-text"
                         class="text-copy"></use>
                </g>
            </svg>
        </div>
    </div>
    <div class="ahs__paragraph padded-bottom-xxl">
        <p>Nood aan een <strong>nieuwe huisstijl</strong>, <strong>bedrijfsvideo</strong>, <strong>website</strong>, <strong>catalogus</strong>, <strong>fotoreportage</strong>, <strong>magazine</strong>, <strong>app</strong> of <strong>signalisatie</strong>? Wordt het tijd om uw <strong>communicatieplan</strong> eens door te lichten? Tast u liever de opties af aan de hand van een <strong>denktank</strong> met vernieuwende ideeën? Al meer dan 10 jaar organiseren we een samenwerking tussen studenten en bedrijven, organisaties, overheidsinstanties &hellip; Geen uitdaging gaan we uit de weg!</p>
        <br>
        <p>Werk samen met de laatstejaarsstudenten van onze opleiding. Tijdens externe projecten werken ze <strong>echte projecten</strong> voor <strong>echte klanten</strong> uit, precies zoals een echte ontwerpstudio of echt productiehuis. Ze wenden hun vaktechnische kennis aan voor uw project onder het waakzame oog van een interne mentor die onze opleiding voorziet.</p>
        <br>
        <p>Onze studenten <strong>Graphic Design</strong>, <strong>Photo Design</strong>, <strong>Audiovisual Design</strong>, <strong>New Media Development</strong>, <strong></strong> en <strong>Printmedia</strong> laten hun skills los op uw project:</p>
        <ul>
            <li>de studenten doen ervaring op;</li>
            <li>uw organisatie geniet van hun frisse kijk op de wereld;</li>
            <li>uw organisatie geniet van een gunstig tarief.</li>
        </ul>
        <p>Een echte win-winsituatie!</p>
        <a class="btn outline rounded compact" href="https://docs.google.com/forms/d/e/1FAIpQLSeKMK5j44wTcv5paEcXDQx-FtFwEcEIjorfHfwXYgDciuhK_A/viewform?c=0&w=1">Meldt u aan voor een verkennend gesprek</a>
    </div>
</div>
{% include components/extern-grid.html %}

