.fullscreen {
  position: absolute;
  bottom: 90px;
  outline: none;
  height: 35px;
  right: 26px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  @include transition(all 800ms eas-in-out);
  &.st0{
    fill: $green;
  }
  .st1{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:7.9594;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;}
}
.menu-toggle {
  background: #ee9900;
  top: 11px;
  position: absolute;
  right: 15px;
  width: 40px;
  outline: none;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding: 11px 9px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  &.open {
    .line {
      width: 20px;
      margin: 2px 1px;
      height: 2px;
      background: #FFF;
      @include backface-visibility(hidden);
      @include transform-style(flat);
      @include transition(all 400ms ease-in-out);
    }
  }
  &.close {
    .line {
      &:nth-of-type(1) {
        @include transform-style(flat);
        @include transform(translate(0px, 5px) rotate(45deg));
      }
      &:nth-of-type(2) {
        @include transform-style(flat);
        @include transform(cubic-bezier(0.4, 0.0, 0.2, 1));
        opacity: 0;
      }
      &:nth-of-type(3) {
        @include transform-style(flat);
        @include transform(translate(0px, -7px) rotate(-45deg));
      }
    }
  }
}
.share-container {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 80px;
  cursor: pointer;
  right: 0;
  .share-toggle {
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 9px 6px;
    font-weight: 100;
    right: 26px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
  }
  .share-list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    right: 145px;
    position: absolute;
    &.inactive {
      display: none;
    }
    .share-link {
      box-sizing: border-box;
      margin: 0 3px;
      padding: 7px 6px 0 6px;
      min-width: 35px;
      min-height: 35px;
      font-size: 17px;
      background: $mid-grey;
      color: white;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background: $primary;
        @include animation(wiggle 800ms ease-in-out infinite);

        @include keyframes(wiggle) {
          0% {
            transform: rotate(0deg);
          }
          20% {
            transform: rotate(-2deg) scale(0.97, 1.02);
          }
          35% {
            transform: rotate(2deg) scale(1, 1);
          }
          50% {
            transform: rotate(-2deg) scale(0.97, 1.02);
          }
          65% {
            transform: rotate(1deg) scale(1, 1);
          }
          80% {
            transform: rotate(-1deg) scale(0.97, 1.02);
          }
          100% {
            transform: rotate(0deg) scale(1, 1);
          }
        }
        &:nth-child(1) {
          background: $primary;
        }
        &:nth-child(2) {
          background: $blue;
        }
        &:nth-child(3) {
          background: $pink;
        }
        &:nth-child(4) {
          background: $green;
        }
      }
    }
  }
}

.overview-toggle {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  top: 100px;
  @include scale(0.7);
  @include backface-visibility(hidden);
  @include transform-style (flat);
  @include transition(background 250ms ease-in, opacity 250ms ease-in, padding 300ms ease-in-out);
  right: 13px;
  padding: 18px 22px;
  cursor: pointer;
  z-index: 109;
  opacity: 0;
  visibility: hidden;
  outline: none;
  overflow: hidden;
  border: none;
  background-color: $blue;
  display: none;
  .cube-row {
    height: 8px;
    width: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    @include translate(-4px, 0);

    .cube {
      height: 4px;
      width: 4px;
      margin: 2px;
      overflow: hidden;
      background-color: #FFF;
      padding: 0;
      @include transition( background-color 250ms ease-in-out 300ms, height 100ms ease-in-out 400ms, width 100ms ease-in-out  400ms,margin 100ms ease-in-out 400ms);
    }
  }
  &.visible {
    display: block;
  }
  &.hover {
    @include transition(background 250ms ease-in, opacity 250ms ease-in, padding 300ms ease-in-out 200ms);
    .cube-row:nth-child(1) {
      @include animation(rowToArrow1 0.5s ease-in-out);
      @include fill-mode(forwards);
    }
    .cube-row:nth-child(2) {
      @include animation(rowToArrow2 0.5s ease-in-out);
      animation: rowToArrow2 0.5s ease-in-out;
      @include fill-mode(forwards);
    }
    .cube-row:nth-child(3) {
      @include animation(rowToArrow3 0.5s ease-in-out);
      @include fill-mode(forwards);
    }
    .cube{
      height: 3px;
      width: 6px;
      margin: 0px;
      @include transition(background-color 250ms ease-in-out, height 100ms ease-in-out, width 100ms ease-in-out, margin 100ms ease-in-out);
      background-color: rgba(255, 255, 255, 0) !important;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }

}

.overview-toggle.offhover .cube-row:nth-child(1) {
  @include animation(arrowToRow1 0.5s ease-in-out);
  @include fill-mode(forwards)
}

.overview-toggle.offhover .cube-row:nth-child(2) {
  @include animation(arrowToRow2 0.5s ease-in-out);
  @include fill-mode(forwards)
}

.overview-toggle.offhover .cube-row:nth-child(3) {
  @include animation(arrowToRow3 0.5s ease-in-out);
  @include fill-mode(forwards)
}


.overview-toggle.offhover .cube-row .cube {
  @include transition(background-color 250ms ease-in-out, height 100ms ease-in-out 400ms, width 100ms ease-in-out 400ms, margin 100ms ease-in-out 400ms, -webkit-box-shadow 100ms ease-in-out 400ms);
}
