@media (min-width: 769px) {
  .reveal .menu {
    position: absolute;
    right: 0;
    z-index: 60;
    height: 100%;
    width: 90px;
    background-color: #F2F2F2;
    .menu-toggle {
      display: none;
    }
    .overview-toggle {
      position: absolute;
      top: 35px;
      padding: 18px 22px;
      box-sizing: border-box;
      &.hover {
        padding: 23px 22px;
      }
    }
    .fullscreen {
      top: 105px;
      &:hover {
        @include transition(all 200ms ease-in-out);
        @include opacity(0.6);

      }
    }
    .share-container {
      top: 145px;
      .share-toggle {
        background: $dark-grey;
        @include opacity(0.6);
      }
    }
    .overflow {
      overflow: hidden;
      height: 70%;
      position: absolute;
      width: 97px;
      top: 236px;
      padding: 0;
      right: 0;
      margin: 0;
      .menu-items {
        position: absolute;
        right: 0;
        height: 100%;
        width: 97px;
        overflow-y: scroll;
        overflow-x: hidden;
        .nav-item {
          background-color: white;
          cursor: pointer;
          margin: 0;
          margin-left: 8px;
          padding: 0;
          width: 90px;
          max-height: 50px;
          a {
            color: #FFF;
            min-height: 50px;
            max-width: 100%;
            img {
              height: 50px;
              width: 90px;
              &.active {
                border-left: 7px solid #BC0;
                margin: 0 0 0 -7px;
                width: calc(90px + 7px);
                border-left: 7px solid $green;
                @include transition(all 500ms cubic-bezier(0.4, 0.0, 0.2, 1));
              }
            }
          }
        }
      }
    }
    .overflow-safari {
      overflow: hidden;
      height: 70%;
      position: absolute;
      width: 90px;
      top: 236px;
      padding: 0;
      margin: 0;
      .menu-items {
        position: absolute;
        right: 0;
        height: 80%;
        width: 90px;
        overflow-y: scroll;
        overflow-x: hidden;
        .nav-item {
          background-color: white;
          cursor: pointer;
          width: 90px;
          max-height: 50px;
          -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
          -webkit-align-self: auto;
          a {
            color: #FFF;
            min-height: 50px;
            max-width: 100%;
            img {
              height: 50px;
              width: 90px;
              &.active {
                border-left: 7px solid #BC0;
                width: calc(90px + 9px);
                border-left: 9px solid $green;
                @include transition(all 500ms cubic-bezier(0.4, 0.0, 0.2, 1));
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .reveal .menu {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    right: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.6);
    @include transition(all 200ms linear);
    .tools {
      position: fixed;
      top: 0 !important;
      right: 5px;
      height: 100%;
      .menu-toggle {
        z-index: 2;
      }
      .overview-toggle {
        top: 56px;
        right: 15px;
        width: 40px;
        height: 40px;
        z-index: 1;
        box-sizing: border-box;
        padding: 8px 12px;
        &.hover {
          padding: 12px;
        }
      }
      .fullscreen {
        position: absolute;
        z-index: 5;
        right: 14px;
        height: 42px;
        bottom: 65px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        @include transform(translate(0px, 46px));
        @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
      }
      .share-container {
        position: absolute;
        bottom: 60px;
        right: -10px;
        @include transform(translate(-22px, 10px) scale(0.5));
        @include transform-origin(50% 50%);
        @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
        .share-toggle {
          width: 40px;
          height: 40px;
          padding: 10px 10px;
          font-size: 20px;
          background: $light-grey;
          color: $text-color;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
        .share-list {
          right: 70px;
          font-size: 20px;
          right: 90px;
          bottom: -40px;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          .share-link {
            padding: 8px 6px 0 6px;
            min-width: 35px;
            min-height: 35px;
            top: 0;
            margin: 3px 1px;
          }
        }
      }
    }
  }
  .overflow, .overflow-safari {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    .menu-items {
      position: absolute;
      right: 0;
      height: 100%;
      .nav-item {
        @include transition(all 1s cubic-bezier(0.4, 0.0, 0.2, 1));
        width: 150px;
        height: 80px;
        margin-left: 8px;
        a {
          color: #FFF;
          height: 100px;
          img {
            width: 100%;
            height: 80px;
            &.active {
              border-left: 8px solid $green;
              margin-left: -8px;
              width: 158px;
              @include transition(all 250ms ease-out);
            }
          }
        }
      }
    }
  }

  .hide {
    &.menu {
      width: 80px;
      height: 100%;
      background-color: transparent;
      @include transition(all 200ms linear);
      .tools {
        position: fixed;
        height: 100%;
        @include transform(translate(0px, 0px));
        @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
        .overview-toggle {
          @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
          @include transform(translate(0px, -45px) scale(0.5));
        }
        .share-link {
          display: none;
        }
      }
      .overflow, .overflow-safari {
        @include transform(translate(calc(100% + 8px), 0));
        @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
        .menu-items {
          @include transform(translate(calc(100% + 8px), 0));
          @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
        }
      }
    }
  }

  .open {
    &.menu {
      height: 100%;
      overflow: scroll;
      .tools {
        @include transform(translate(-150px, 0px));
        @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
        .overview-toggle {
          @include transform(translate(0px, 0px) scale(1));
          @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
        }
        .share-container {
          @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
          @include transform(translate(0px, 0px));
        }
        .fullscreen {
          @include transition(all 700ms cubic-bezier(0.4, 0.0, 0.2, 1));
          @include transform(translate(0px, 0px));
        }
      }
      .overflow, .overflow-safari {
        @include transform(translate(0px, 0));
        @include transition(all 1s cubic-bezier(0.4, 0.0, 0.2, 1));
        .menu-items {
          @include transform(translate(0px, 0));
          @include transition(all 1s cubic-bezier(0.4, 0.0, 0.2, 1));
        }
      }
    }
  }
}
