/*********************************************
 * Theming
 *********************************************/
body {
  height: 100%
}
@media (min-width: 769px) {
  .hide-on-desktop {
    display: none;
  }
  .reveal .slides {
    .branding {
      background-image: url(../../assets/stories/branding/branding-desktop.svg);
      background-repeat: no-repeat;
      background-size: 50px;
      position: absolute;
      left: 65px;
      padding: 28px 0;
      box-sizing: border-box;
      @include transform(translate(0px, -80px));
      height: 80px;
      width: auto;
      @include animation(slide 80s infinite);
      img {
        height: 18px;
        margin: 0 5px 0 10px;
      }
      p {
        width: 50px;
        font-size: 20px;
        color: $primary;
        font-weight: 100;
        top: 0;
        margin: -2px 7px;
        @include transform-origin(50% 50%);
        @include animation(wiggle 3s ease-in-out infinite);
        &:hover {
          @include animation(wiggle 1s ease-in-out infinite);
          cursor: pointer;
        }
      }
    }
  }
  .sticker {
    position: absolute;
    &.top {
      top: 20px;
    }
    &.top-center {
      top: 70px;
    }
    &.bottom-center {
      bottom: 70px;
    }
    &.bottom {
      bottom: 20px;
    }
    &.left {
      left: 50px;
    }
    &.right {
      right: 110px;
    }
    &.xsmall {
      width: 90px;
      &.center {
        left: calc((100% - 180px) / 2);
      }
      &.midden {
        top: calc(100% / 3);
      }
    }
    &.small {
      width: 180px;
      &.center {
        left: calc((100% - 270px) / 2);
      }
      &.midden {
        top: calc(100% / 4);
      }
    }
    &.medium {
      width: 270px;
      &.center {
        left: calc((100% - 360px) / 2);
      }
      &.midden {
        top: calc(100% / 4);
      }
    }
    &.large {
      width: 360px;
      &.center {
        left: calc((100% - 450px) / 2);
      }
      &.midden {
        top: calc(100% / 5);
      }
    }
    &.xlarge {
      width: 450px;
      &.center {
        left: calc((100% - 540px) / 2);
      }
      &.midden {
        top: calc(100% / 5);
      }
    }
    &.xxlarge {
      width: 540px;
      &.center {
        left: calc((100% - 630px) / 2);
      }
      &.midden {
        top: calc(100% / 6);
      }
    }
    &.xxxlarge {
      height: 630px;
      &.center {
        left: calc((100% - 720px) / 2);
      }
      &.midden {
        top: calc(100% / 6);
      }
    }

  }
  .present {
    video {
      position: fixed;
      top: 0 !important;
      left: 0 !important;
      height: auto;
      min-width: 100%;
      min-height: 100% !important;
    }
  }
  .text {
    z-index: 100;
    @include translate(0, 0);
    top: 110px;
    position: absolute;
    margin: 0;
    padding: 35px;
    width: 430px;
    .share-list {
      left: 30px;
      .share-link {
        color: white;
        background-color: $mid-grey;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-sizing: border-box;
        margin: 0 8px 0 0;
        padding: 8px 4px;
        font-size: 1.5rem;
        &:hover {
          &:nth-of-type(1){
            background: $primary;
          }
          &:nth-of-type(2){
            background: $blue;
          }
          &:nth-of-type(3){
            background: $pink;
          }
          &:nth-of-type(4){
            background: $green;
          }
        }
      }
    }
    h1 {
      color: white;
      font-size: 2.3rem;
      text-align: left;
      line-height: 1.2;
      .highlight {
        font-weight: 700;
      }
    }
    p {
      margin: 25px 0;
      color: white;
      top: 50px;
      line-height: 1.8em;
      text-align: left;
      .highlight {
        font-weight: 700;
      }
      &.dark{
        color: $text-color;
      }
      &.xxxsm {
        font-size: $title-font-size*0.10+px;
      }
      &.xxsm {
        font-size: $title-font-size*0.25+px;
      }
      &.xsm {
        font-size: $title-font-size*0.35+px;
      }
      &.sm {
        font-size: $title-font-size*0.5+px;
      }
      &.smd {
        font-size: $title-font-size*0.625+px;
      }
      &.md {
        font-size: $title-font-size*0.75+px;
      }
      &.lg {
        font-size: $title-font-size+px;
      }
      &.xl {
        font-size: $title-font-size*1.25+px;
      }
    }
    &.left {
      left: 30px;
    }

    &.right {
      right: 140px;
    }
    &.center {
      text-align: center;
      width: 500px;
      left: 30px;
      padding: 35px;
      top: 160px;
    }
  }

  .reveal .slides .present {
    .text {
      @include animation(change 3s cubic-bezier(0.260, 0.860, 0.440, 0.985));
    }
  }

  @include keyframes(change) {
    0% {
      @include translate(0, 100px);
      opacity: 0;
    }
    100% {
      @include translate(0, 0px);
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .mobile-still {
    height: 100%;
    min-width: 100%;
    @include animation(xmovezoom 20s linear infinite);
  }
  .reveal .slides {
    .branding {
      width: 100%;
      background: rgba(1, 1, 1, 0.8);
      padding: 10px;
      box-sizing: border-box;
      height: 33px;
      img {
        &:nth-of-type(1) {
          height: 12px;
          margin: 2px 13px;
          position: absolute;
        }
        &:nth-of-type(2) {
          height: 38px;
          margin: -10px 5px;
        }
      }
      p, a {
        width: 50px;
        font-size: 16px;
        font-weight: 100;
        top: 0;
        color: white;
        margin: -1px -3px;
        @include animation(wiggle 8s ease-in-out infinite);
      }
    }
    section {
      box-sizing: border-box;
      height: 100%;
      margin: 0;
      top: 0 !important;
      padding: 0 !important;
      .sticker {
        position: absolute;
        &.top {
          top: 40px;
        }
        &.top-center {
          top: 50px;
        }
        &.bottom-center {
          bottom: 50px;
        }
        &.bottom {
          bottom: 20px;
        }
        &.left {
          left: 20px;
        }
        &.right {
          right: 20px;
        }
        &.xsmall {
          width: 40px;
          &.center {
            left: calc((100% - 40px) / 2);
          }
          &.midden {
            top: calc(100% / 3);
          }
        }
        &.small {
          width: 80px;
          &.center {
            left: calc((100% - 80px) / 2);
          }
          &.midden {
            top: calc(100% / 4);
          }
        }
        &.medium {
          width: 120px;
          &.center {
            left: calc((100% - 120px) / 2);
          }
          &.midden {
            top: calc(100% / 4);
          }
        }
        &.large {
          width: 160px;
          &.center {
            left: calc((100% - 160px) / 2);
          }
          &.midden {
            top: calc(100% / 5);
          }
        }
        &.xlarge {
          width: 200px;
          &.center {
            left: calc((100% - 200px) / 2);
          }
          &.midden {
            top: calc(100% / 5);
          }
        }
        &.xxlarge {
          width: 240px;
          &.center {
            left: calc((100% - 240px) / 2);
          }
          &.midden {
            top: calc(100% / 6);
          }
        }
        &.xxxlarge {
          height: 280px;
          &.center {
            left: calc((100% - 280px) / 2);
          }
          &.midden {
            top: calc(100% / 6);
          }
          &.mobile-sticker-tofront {
            z-index: 11;
          }
        }
      }
      .text {
        position: absolute;
        z-index: 11;
        display: block;
        box-sizing: border-box;
        margin: 0;
        padding: 35px 15px 5px 15px;
        top: 0;
        opacity: 0;
        overflow: hidden;
        width: 100%;
        h1 {
          font-size: 1.5rem;
          text-align: left;
          line-height: 1.8rem;
        }
        &.mobile-light-text-bg {
          z-index: 8;
          display: block;
          box-sizing: border-box;
          padding: 30px 25px;
          background: rgba(255, 255, 255, 0.7);
          color: $text-color;
          position: absolute;
          top: 33px;
          height: 100%;
          p, .link {
            margin: 20px 0;
            font-size: 0.8rem;
            color: $text-color;
            text-align: left;
            line-height: 1.3rem;
          }
        }
        &.mobile-dark-text-bg {
          z-index: 8;
          display: block;
          box-sizing: border-box;
          padding: 30px 25px;
          background: rgba(1, 1, 1, 0.5);
          color: #FFF;
          position: absolute;
          top: 33px;
          height: 100%;
          p, .link {
            margin: 20px 0;
            font-size: 0.8rem;
            color: white;
            text-align: left;
            line-height: 1.3rem;
          }
        }
      }
      &.present .text-fade-in {
        @include animation(appear 1.3s cubic-bezier(0.260, 0.860, 0.440, 0.985));
        animation-delay: 1.69s;
      }
      &.present {
        overflow: hidden;
        .stay {
          opacity: 1;
        }
      }
      .share-list {
        .share-link {
          border-radius: 50px;
          width: 35px;
          height: 35px;
          margin: 0 10px 0 0;
          background: $mid-grey;
          color: white;
          padding: 5px 6px;
          box-sizing: border-box;
        }
      }
      video {
        position: fixed;
        width: 100% !important;
        bottom: 0;
        left: 0;
      }
    }
  }
}
@include keyframes(appear) {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  }
}
@include keyframes(slide) {
  0% {
    @include transform(translate(0, -80px));
  }
  0.8% {
    @include transform(translate(0, 0px));
  }
  80% {
    @include transform(translate(0, 0px));
  }
  81% {
    @include transform(translate(0px, -80px));
  }
  100% {
    @include transform(translate(0px, -80px));
  }
}
@include keyframes(wiggle) {
    0% {
      @include transform(rotate(0deg) scale(1))
    }
    20% {
      @include transform(rotate(-3deg) scale(1.02))
    }
    80% {
      @include transform(rotate(3deg) scale(1.02))
    }
    100% {
      @include transform(rotate(0deg) scale(1))
    }
  }