// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  z-index: 11;
}
.ahs__rainbow{
  height:8px;
  .part{
    width:25%;
    &.orange{
      background-color:$primary;
    }
    &.blue{
      background-color:$blue;

    }
    &.pink{
      background-color:$pink;

    }
    &.green{
      background-color:$green;

    }
  }
}

.svg-container {
  position: relative;
  width:100%;
}
.svg-box{
  height:9vw;
  max-height: 110px;
  width: 100%;
  position: relative;
  .text--line {
    font-size: 1em;
  }

  svg {
    height: 100%;
    #m-text {
      font-size: 0.8em;
    }
  }

  @media (max-width: $sm) {
    height: 10vw;
    svg #m-text {
      font-size: 0.9em;
    }
  }

  $max: 3;
  $stroke-step: 25%;
  .text-copy {
    fill: transparent;
    stroke:$blue;
    stroke-width: 1px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  &:nth-child(2){
    .text-copy {
      stroke:$text-color;
    }
  }
}
.wrapper:not(.intro-animating) {
  .svg-box {
    .text-copy {
      @include animation(stroke-offset 2s cubic-bezier(0.860, 0.000, 0.070, 1.000));
      @include fill-mode(forwards);
      &.complete{

      }
    }
    &:nth-child(2){
      .text-copy {
        @include animation(stroke-offset-black 2s cubic-bezier(0.860, 0.000, 0.070, 1.000));
        @include fill-mode(forwards);
      }
    }
  }
}

.navigation {
  z-index: 10;
  position: fixed;
  top:0;
  left:0;
  padding: 10px 0;
  height:100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  @include transition(opacity 0s ease-in-out, visibility 0s ease-in-out, background-color 0s ease-in-out);
  &.active{
    opacity: 1;
    visibility: visible;
    background-color: $green;
    @include transition(opacity 0s ease-in-out, visibility 0s ease-in-out, background-color 250ms 200ms cubic-bezier(0.860, 0.000, 0.070, 1.000));
    .nav-bg {
      height:100%;
      width: 100vw;
      top: 0;
      right: 0;
      border-radius: 0;
    }
    .nav-container {
      opacity: 1;
      visibility: visible;
      @include scale(1);
      @include transition(opacity 250ms 250ms ease-in-out, visibility 0s 0.25s ease-in-out);
    }
  }
  .nav-bg {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 35px;
    right: 25px;
    background-color: $green;
    border-radius: 50%;
    @include transition(all 250ms cubic-bezier(0.860, 0.000, 0.070, 1.000));
  }
  .nav-container {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 30px 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    @include scale(0.9);
    @include transition(opacity 0s ease-in-out, visibility 0s ease-in-out);
    .nav-container-sub {
      display: table;
      margin: 0 auto;
      padding: 20px;
    }
    .nav-block {
      position: relative;
      padding: 20px 40px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      &:first-child {
      }
      &:last-child{
        &::after {
          display: none;
        }
      }
      .big-block {
        .nav-title {
          margin: 20px 0;
          display: block;
          color: #8C9820;
          position: relative;
          @include transition(color s300ms ease-in-out);

          span {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            &::before {
              content: attr(data-letters);
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              color: white;
              @include transition(all 300ms cubic-bezier(0.7,0,0.3,1));
            }
          }

        }
        &:hover,
        &.active {
          .nav-title {
            text-decoration: none;
            span {
              &::before {
                color: transparent;
                @include scale(1.2);
              }
            }
          }
        }
      }
      .small-block {
        &.maxed {
          max-width: 300px;
          margin: 0 auto;
        }
        a {
          display: block;
          width: 50%;
          color: white;
          font-weight: bold;
          @include transition(all 250ms ease-in-out);
          &:hover {
            text-decoration: none;
            color: $pink;
          }
          &.active {
            color: $dark-grey;
          }
        }
      }
    }
    @media (max-width: $sm){
      .nav-container-sub {
        width: 100%;
        padding-top: 40px;
      }
      .nav-block {
        padding: 10px 20px;
      }
    }
  }
  .ahs__rainbow {
    position: absolute;
    bottom:0;
    width: 100%;
  }
}
.spooky {
  .menu-toggle{
    background-color: $primary;
  }
  .navigation {
    .nav-bg {
      background-color: $primary;
      &::before{
        content: '';
        position: absolute;
        bottom:0;
        right:0;
        height:200px;
        width:200px;
        background-image: url(/assets/img/background/spooky.svg);
        @include animation(spooky-move 10s infinite);
      }
    }
    .nav-container .nav-block .big-block .nav-title{
      color:shade($primary,20);
    }
    .nav-container .nav-block .big-block:hover .nav-title,
    .nav-container .nav-block .big-block.active .nav-title {
      color:transparent;
      span::before {
        @include animation(spooky 250ms infinite);
      }
    }
  }
}